             
          @font-face {
              font-family: 'Roboto Slab';
              src: url('../dynamic/fonts/robotoslab/robotoslab.woff2') format('woff2 supports variations'),
              url('../dynamic/fonts/robotoslab/robotoslab.woff2') format('woff2-variations');
              font-weight: 100 900;
              font-display: swap;
              font-style: normal;
          }
          
      :root {
         --page-margin:           10vmin;
         --page-width:            1440px;
         --entry-width:           66ch; 
         --navbar-height:         3rem;
         --border-radius:         3px;
         --cards-gap:             1rem;
         --featured-image-height: 40vmin; 
         --animated-lines-time:   8s; 
         --gallery-gap:           0.5rem; 
         --magic-number:          4rem;
         --font-body:             'Roboto Slab', serif;
         --font-heading:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
         --font-logo:             fredokaone;
         --font-menu:             var(--font-body);
         --font-weight-normal:    400; 
         --font-weight-bold:      700; 
         --headings-weight:       700;
         --headings-transform:    none;
         --line-height:           1.6; 
         --letter-spacing:        -.03em;
                 
         --card-image-height: calc(12rem + 13vmin);
                   
         --white:            #FFFFFF;
         --black:            #000000; 
         --green:            #00C899; 
         --blue:             #3DBFE2; 
         --red:              #EB7F9B; 
         --yellow:           #FFC76B; 
         --dark:             #283149; 
         --dark-rgb:         40, 49, 73;
         --gray-1:           #5f5f74; 
         --gray-2:           #9196A2; 
         --gray:             undefined; 
         --light:            #CFE9EB; 
         --lighter:          #FFFFFF; 
         --color:            #00BCD4;
         --color-rgb:        0, 188, 212; 
         --page-bg:          #FFFFFF; 
         --text-color:       #343435; 
         --headings-color:   #283149; 
         --link-color:       #00BCD4; 
         --link-color-hover: #283149; 
         --inline-code:       255, 81, 81;
      
    --box-shadow:
        0px 4.4px 4.5px -100px rgba(var(--dark-rgb), 0.174),
        0px 12.3px 12.5px -100px rgba(var(--dark-rgb), 0.25),
        0px 29.5px 30.1px -100px rgba(var(--dark-rgb), 0.326),
        0px 98px 100px -100px rgba(var(--dark-rgb), 0.5);
    --box-shadow-hover:
        0px 5.4px 4.5px -100px rgba(var(--dark-rgb), 0.174),
        0px 15px 12.5px -100px rgba(var(--dark-rgb), 0.25),
        0px 36.2px 30.1px -100px rgba(var(--dark-rgb), 0.326),
        0px 120px 100px -100px rgba(var(--dark-rgb), 0.5);
  }   
    @media all and (min-width: 56.25em) {
      :root {
        --magic-number: 6rem;
      }
    }
    @media all and (min-width: 80.0625em) and (min-height: 50em) {
      :root {
        --cards-gap: 1.8rem;
        --magic-number: 8rem;
      }
    }                      
  *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

address {
  font-style: normal;
}

.facebook:hover svg {
  fill: #3b5998;
}

.twitter:hover svg {
  fill: #55acee;
}

.mix:hover svg {
  fill: #fd8235;
}

.instagram:hover svg {
  fill: #405de6;
}

.vimeo:hover svg {
  fill: #1ab7ea;
}

.pinterest:hover svg {
  fill: #bd081c;
}

.youtube:hover svg {
  fill: #cd201f;
}

.linkedin:hover svg {
  fill: #007bb6;
}

.buffer:hover svg {
  fill: #333333;
}

.whatsapp:hover svg {
  fill: #25D366;
}

.pocket:hover svg {
  fill: #ED4255;
}

::-moz-selection {
  background: var(--color);
  color: var(--white);
}

::selection {
  background: var(--color);
  color: var(--white);
}

::-webkit-input-placeholder {
  color: var(--text-color);
}

::-moz-placeholder {
  color: var(--text-color);
}

:-ms-input-placeholder {
  color: var(--text-color);
}

::-ms-input-placeholder {
  color: var(--text-color);
}

::placeholder {
  color: var(--text-color);
}

html {
  font-size: 1rem;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc(1rem + 0.15 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  html {
    font-size: 1.15rem;
  }
}
html.no-scroll {
  overflow: hidden;
}

body {
  background: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  min-height: 100vh;
  padding: 0;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  color: var(--link-color-hover);
  outline: none;
}

.invert {
  color: var(--link-color-hover);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.invert:hover {
  color: var(--link-color);
}
.invert:active {
  color: var(--link-color);
}
.invert:focus {
  color: var(--link-color);
  outline: none;
}

p,
ul,
ol,
dl,
pre {
  margin-top: 1.75rem;
}

blockquote,
figure,
hr,
pre,
table {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--font-heading);
  font-weight: var(--headings-weight);
  letter-spacing: var(--letter-spacing);
  line-height: 1.2;
  margin-top: 2.75rem;
  text-transform: var(--headings-transform);
}

h1,
.h1 {
  font-size: 1.8020324707rem;
}
@media screen and (min-width: 20rem) {
  h1,
.h1 {
    font-size: calc(1.8020324707rem + 0.7637520432 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h1,
.h1 {
    font-size: 2.565784514rem;
  }
}

h2,
.h2 {
  font-size: 1.423828125rem;
}
@media screen and (min-width: 20rem) {
  h2,
.h2 {
    font-size: calc(1.423828125rem + 0.6034584045 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h2,
.h2 {
    font-size: 2.0272865295rem;
  }
}

h3,
.h3 {
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  h3,
.h3 {
    font-size: calc(1.265625rem + 0.5364074707 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h3,
.h3 {
    font-size: 1.8020324707rem;
  }
}

h4,
.h4 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  h4,
.h4 {
    font-size: calc(1.125rem + 0.298828125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h4,
.h4 {
    font-size: 1.423828125rem;
  }
}

h5,
.h5 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h5,
.h5 {
    font-size: calc(1rem + 0.265625 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h5,
.h5 {
    font-size: 1.265625rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h6,
.h6 {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h6,
.h6 {
    font-size: 1.125rem;
  }
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 1rem;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

blockquote {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 5.5rem 0 3rem;
  position: relative;
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  blockquote {
    font-size: calc(1.265625rem + 0.158203125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  blockquote {
    font-size: 1.423828125rem;
  }
}
@media all and (min-width: 37.5em) {
  blockquote {
    max-width: 60%;
  }
}
blockquote::before {
  color: var(--light);
  content: "“";
  font: normal 720%/0.9 Georgia, Times, Times New Roman, serif;
  left: -15%;
  position: absolute;
  top: 2.75rem;
}
@media all and (min-width: 37.5em) {
  blockquote::before {
    left: -20%;
  }
}
blockquote > :nth-child(1) {
  margin-top: 0;
}

ul,
ol {
  margin-left: 2rem;
}
ul > li,
ol > li {
  list-style: inherit;
  padding: 0 0 0.5rem 0.5rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

dl dt {
  font-weight: var(--font-weight-bold);
}

code {
  background-color: rgba(var(--inline-code), 0.1);
  border-radius: 3px;
  color: rgb(var(--inline-code));
  font-size: 1rem;
  font-family: var(--monospace);
  padding: 0.25rem 0.5rem;
}

pre {
  background-color: var(--lighter);
  border-radius: var(--border-radius);
  font-size: 1rem;
  max-height: var(--pre-height);
  padding: 1.5rem;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  width: 100%;
}
pre code {
  background-color: var(--lighter);
  color: inherit !important;
  font-size: inherit;
  padding: 0;
}

table {
  border: 1px solid var(--light);
  border-left: none;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
table th {
  font-weight: var(--font-weight-bold);
  padding: 0.625rem 1rem;
}
table td {
  border-top: 1px solid var(--light);
  border-left: 1px solid var(--light);
  padding: 0.625rem 1rem;
}

figcaption {
  color: var(--gray-1);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
  font-size: 0.7901234568rem;
  margin-top: 1rem;
  text-align: center;
}

kbd {
  background: var(--dark);
  border-radius: 3px;
  color: var(--white);
  font-family: var(--monospace);
  font-size: 0.8888em;
  padding: 0.125rem 0.375rem;
}

sub,
sup {
  font-size: 65%;
}

small {
  font-size: 0.7901234568rem;
}

hr,
.separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
hr::before,
.separator::before {
  content: "***";
  color: var(--dark);
  font-size: 1.265625rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}

.separator--dot::before {
  content: "*";
  color: var(--dark);
  font-size: 1.265625rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}
.separator--long-line {
  position: relative;
}
.separator--long-line::before {
  content: "";
  height: 1.265625rem;
}
.separator--long-line::after {
  border-top: 1px solid var(--light);
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.btn, [type=button],
[type=submit],
button {
  background: var(--color);
  -webkit-box-shadow: 0px 8px 20px -3px rgba(var(--dark-rgb), 0.12);
          box-shadow: 0px 8px 20px -3px rgba(var(--dark-rgb), 0.12);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  display: inline-block;
  font: var(--font-weight-normal) 0.8888888889rem var(--font-heading);
  padding: 0.75rem 1rem;
  vertical-align: top;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  will-change: transform;
  width: 100%;
}
@media all and (min-width: 20em) {
  .btn, [type=button],
[type=submit],
button {
    width: auto;
  }
}
.btn:hover, [type=button]:hover,
[type=submit]:hover,
button:hover, .btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  color: white;
  -webkit-box-shadow: 0 12px 20px 0 rgba(var(--dark-rgb), 0.12);
          box-shadow: 0 12px 20px 0 rgba(var(--dark-rgb), 0.12);
  text-decoration: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  outline: none;
}
.btn:disabled, [type=button]:disabled,
[type=submit]:disabled,
button:disabled {
  background-color: var(--light);
  color: var(--dark);
  cursor: not-allowed;
}
.btn--white {
  background: var(--white);
  color: var(--gray-1);
}
.btn--white:hover, .btn--white:focus {
  color: var(--color);
}
@media all and (max-width: 19.9375em) {
  .btn + .btn, [type=button] + .btn,
[type=submit] + .btn,
button + .btn, .btn + [type=button], [type=button] + [type=button],
[type=submit] + [type=button],
button + [type=button],
.btn + [type=submit],
[type=button] + [type=submit],
[type=submit] + [type=submit],
button + [type=submit],
.btn + button,
[type=button] + button,
[type=submit] + button,
button + button {
    margin-top: 0.5rem;
  }
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--gray-2);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--gray-2);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--gray-2);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--gray-2);
  opacity: 1;
}

::placeholder {
  color: var(--gray-2);
  opacity: 1;
}

fieldset {
  border: 1px solid var(--light);
  border-radius: 4px;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
}
fieldset > legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-weight: var(--headings-weight);
}

label {
  font-weight: var(--headings-weight);
  margin: 0 1rem 0.75rem 0;
}

option {
  font-weight: var(--font-weight-normal);
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: var(--white);
  border: none;
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media all and (min-width: 37.5em) {
  [type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
    width: auto;
  }
}
[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--color);
}

input[type=checkbox],
input[type=radio] {
  color: var(--text-color);
  opacity: 0;
  position: absolute;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  font-weight: var(--font-weight-normal);
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0 0 0 2.25rem;
}
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  background-color: var(--white);
  border: 1px solid var(--light);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.25rem;
  left: 0;
  line-height: 1.25rem;
  margin-right: 0.75rem;
  position: absolute;
  text-align: center;
  top: 0.25rem;
  width: 1.25rem;
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  background-image: none !important;
  content: "";
  border-color: var(--color);
}
input[type=checkbox]:checked + label::after,
input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 6px;
  height: 9px;
  border: solid var(--color);
  border-width: 0 2px 2px 0;
  left: 0.275rem;
  position: absolute;
  top: 0.75rem;
  -webkit-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

input[type=radio] + label::before {
  border-radius: 50%;
}

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%;
}

select {
  border-radius: var(--border-radius);
  max-width: 100%;
  width: auto;
  position: relative;
}
select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
  background-size: 8px;
  padding-right: 3rem;
}

select[multiple] {
  border: 1px solid var(--light);
  padding: 1.5rem;
  width: 100%;
}
select[multiple]:hover {
  border-color: var(--light);
}
select[multiple]:focus {
  border-color: var(--color);
}
select[multiple]:disabled {
  background-color: var(--light);
  cursor: not-allowed;
}
select[multiple]:disabled:hover {
  border-color: var(--light);
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navbar-height);
  margin-top: 2rem;
  max-width: var(--page-width);
  position: relative;
}
@media all and (min-width: 80.0625em) and (min-height: 50em) {
  .header {
    margin-top: 3rem;
  }
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: var(--dark) !important;
  font-family: var(--font-logo);
  font-weight: var(--font-weight-bold);
  font-size: 1.423828125rem;
  line-height: 1;
  margin-right: auto;
  white-space: nowrap;
}

.woofya-font {
  font-family: 'Fredoka One', cursive;
}

.woofya-action-btn{
  display: inline-block;
  background-color: var(--color);
  padding: 10px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 10px;
}

.woofya-action-btn a{color:#fff!important}

.woofya-action-btn a:hover{color:#000!important}

@media all and (max-width: 74.9375em) {
  .logo {
    text-align: center;
  }
}
.logo > img {
  vertical-align: middle;
  max-height: 4rem;
  padding: 0.5rem 0;
  width: auto;
}

.search {
  margin-right: 1.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
  z-index: 99;
}
@media all and (min-width: 56.25em) {
  .search {
    margin: 0 0 0 1.5rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.search__btn {
  border: none;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: auto;
}
.search__btn:hover, .search__btn:focus {
  outline: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.search__btn:hover > svg, .search__btn:focus > svg {
  fill: var(--color);
}
.search__btn > svg {
  display: inline-block;
  fill: var(--gray-1);
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
  vertical-align: middle;
}
.search__input {
  background: none;
  border: none;
  font-size: 0.8888888889rem;
  padding: 0 1rem 0 0;
  width: 100%;
}
@media all and (min-width: 37.5em) {
  .search__input {
    min-width: 18rem;
  }
}
.search__input:focus {
  color: var(--dark);
}
.search__input:focus::-webkit-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::-moz-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus:-ms-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::-ms-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__button {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: auto !important;
}
.search__button:hover, .search__button:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.search__overlay {
  background: var(--lighter);
  border-radius: var(--border-radius);
  border: 2px solid var(--light);
  left: 0;
  opacity: 0;
  padding: 0.375rem 0.375rem 0.375rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  visibility: hidden;
  z-index: 100;
}
@media all and (min-width: 56.25em) {
  .search__overlay {
    background: var(--lighter);
    border: none;
    left: auto;
    top: var(--navbar-height);
    -webkit-transform: translateY(-0.75rem);
            transform: translateY(-0.75rem);
  }
}
.search__overlay.expanded {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  display: block;
  visibility: visible;
}
.search__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
}
@media all and (min-width: 56.25em) {
  .navbar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 56.1875em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.navbar .navbar__menu li {
  display: block;
  font-size: 0.8888888889rem;
  font-family: var(--font-menu);
  line-height: var(--line-height);
  padding: 0;
  position: relative;
  white-space: nowrap;
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  color: var(--link-color-hover);
  display: block;
  padding: 0 0.75rem;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--link-color);
}
.navbar .navbar__menu li span {
  color: var(--dark);
  cursor: default;
  display: block;
  padding: 0 0.5rem;
}
.navbar .navbar__menu > li {
  line-height: var(--navbar-height);
}
@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .navbar .navbar__menu > li {
    margin-right: 0;
  }
}
@media all and (min-width: 75em) {
  .navbar .navbar__menu > li {
    margin-right: 1;
  }
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--link-color);
}
.navbar .navbar__menu > li:hover > [aria-haspopup=true] {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .navbar__menu > li:hover.has-submenu::after {
  content: "";
  border-color: var(--link-color);
}
.navbar .navbar__menu > li.has-submenu {
  position: relative;
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  margin-top: 0rem;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
  margin-top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar__submenu {
  background: var(--lighter);
  border-radius: var(--border-radius);
  left: -9999px;
  list-style-type: none;
  margin: 0 0 0.75rem;
  padding: 0.75rem 1.5rem;
  position: absolute;
  text-align: left;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  will-change: transform;
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  padding: 0 0.25rem;
  text-transform: none;
}
.navbar .navbar__submenu li:last-child {
  border: none;
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  padding: 0.5rem 0;
  -webkit-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li span {
  padding: 0.5rem 1.25rem;
}
.navbar .navbar__toggle {
  background: var(--light);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--link-color);
  cursor: pointer;
  display: block;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  overflow: visible;
  text-transform: none;
  z-index: 2004;
}
@media all and (min-width: 56.25em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transform: none;
          transform: none;
}

.navbar_mobile_sidebar {
  background: var(--page-bg);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 1000;
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-family: var(--font-heading);
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li .is-separator {
  color: var(--dark);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li .is-separator:active,
.navbar_mobile_sidebar .navbar__menu li .is-separator:focus,
.navbar_mobile_sidebar .navbar__menu li .is-separator:hover {
  color: var(--color);
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li .is-separator[aria-haspopup=true]::after {
  border-right: 1px solid var(--color);
  border-top: 1px solid var(--color);
  content: "";
  height: 6px;
  position: absolute;
  right: 6%;
  top: 47%;
  -webkit-transform: translate(0, -47%) rotate(135deg);
          transform: translate(0, -47%) rotate(135deg);
  width: 6px;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_sidebar .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width);
  padding: 0 var(--page-margin);
}
.container--narrow {
  max-width: var(--entry-width);
}

.main {
  margin-top: var(--magic-number);
}

.hero {
  color: var(--gray-1);
  font-size: 1rem;
  padding-bottom: var(--magic-number);
  max-width: var(--entry-width);
}
@media screen and (min-width: 20rem) {
  .hero {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  .hero {
    font-size: 1.125rem;
  }
}
.hero h1 {
  margin-top: 0;
}
.hero h1 sup {
  font-weight: var(--font-weight-normal);
  font-size: 1.125rem;
  vertical-align: top;
}
.hero p {
  margin-top: 0.5rem;
}
.hero--centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero--centered p {
  margin: 1rem auto 0;
}

.l-options {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.75rem;
}
@media all and (min-width: 80.0625em) and (min-height: 50em) {
  .l-options {
    margin-bottom: 2.5rem;
  }
}
@media all and (max-width: 37.4375em) {
  .l-options.nomobile {
    display: none;
  }
}

.filter {
  margin: 0 -0.5rem;
  line-height: 1.4;
}
.filter__item {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
  font-size: 0.8888888889rem;
  margin: 0;
  padding: 0 0.5rem;
  text-transform: none;
}
.filter__item:hover, .filter__item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}
.filter__item.is-active {
  color: var(--link-color);
  -webkit-text-stroke: 0.5px var(--link-color);
  pointer-events: none;
}

.switchers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media all and (max-width: 37.4375em) {
  .switchers {
    display: none;
  }
}
.switchers__item {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--gray-2);
  padding: 0 0.5rem;
}
.switchers__item:hover, .switchers__item:focus {
  background: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  color: var(--color);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.switchers__item.is-active {
  color: var(--gray-1);
  cursor: default;
}

.l-grid {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--cards-gap)) calc(-0.5 * var(--cards-gap));
  position: relative;
}
.l-grid .c-card {
  width: 100%;
}
.l-grid .c-card__wrapper {
  margin: var(--cards-gap) calc(var(--cards-gap) / 2);
}
@media all and (min-width: 37.5em) {
  .l-grid--2 .c-card {
    width: 49.999%;
  }
}
@media all and (min-width: 37.5em) {
  .l-grid--3 .c-card {
    width: 49.999%;
  }
}
@media all and (min-width: 75em) {
  .l-grid--3 .c-card {
    width: 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .l-grid--4 .c-card {
    width: 49.999%;
  }
}
@media all and (min-width: 75em) {
  .l-grid--4 .c-card {
    width: 33.333%;
  }
}
@media all and (min-width: 85em) {
  .l-grid--4 .c-card {
    width: 24.999%;
  }
}
@media all and (min-width: 37.5em) {
  .l-grid--1 .c-card {
    width: 100%;
  }
}

.c-card {
  list-style: none;
  padding: 0;
}
@media all and (min-width: 37.5em) {
  .c-card--rows .c-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .c-card--rows .c-card__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
  .c-card--rows .c-card__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
.c-card__wrapper {
  height: 100%;
  position: relative;
}
.c-card__wrapper:hover .c-card__image {
  -webkit-box-shadow: var(--box-shadow-hover);
          box-shadow: var(--box-shadow-hover);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.c-card__image {
  background-color: var(--lighter);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: block;
  height: var(--card-image-height);
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  will-change: transform;
  width: 100%;
}
.c-card__image > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: inherit;
  display: block;
  width: inherit;
}
.c-card__image--up > img {
  -o-object-position: top;
     object-position: top;
}
.c-card__image--down > img {
  -o-object-position: bottom;
     object-position: bottom;
}
.c-card__content {
  padding: 1.75rem 0;
}
.c-card__title {
  font-size: 1rem;
  margin: 0;
}
.c-card__title > a:after {
  background: transparent;
  content: "";
  cursor: pointer;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.c-card__text {
  color: var(--gray-1);
  font-size: 0.8888888889rem;
  line-height: 1.4;
  margin: 0.75rem 0;
}
.c-card__meta {
  color: var(--gray-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7901234568rem;
  margin-top: 0rem;
  position: relative;
  z-index: 1;
}
.c-card__meta a {
  color: var(--gray-1);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.c-card__meta a:hover {
  color: var(--link-color);
}
.c-card__meta a:active {
  color: var(--link-color);
}
.c-card__meta a:focus {
  color: var(--link-color);
  outline: none;
}
.c-card__meta a + a {
  margin-left: 0.25rem;
}

.post {
  position: relative;
}
.post__inner {
  max-width: var(--entry-width);
  margin: auto;
  max-width: var(--entry-width);
}
.post__header {
  padding-bottom: calc(var(--magic-number) / 2);
}
.post__header + .post__featured-image {
  margin-top: calc(var(--magic-number) / 3.5);
}
.post__featured-image {
  margin-top: 0;
  margin-bottom: calc(var(--magic-number) / 1.5);
}
.post__featured-image__inner {
  background-color: var(--lighter);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  height: var(--featured-image-height);
}
.post__featured-image img {
  display: block;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: var(--page-width);
  width: 100%;
}
.post__featured-image--full {
  margin-left: calc(-50vw + 50% + var(--page-margin));
  margin-right: calc(-50vw + 50% + var(--page-margin));
  padding: 0;
  text-align: center;
}
.post__featured-image--full img {
  max-width: 100%;
}
.post__title {
  margin-top: 0;
}
.post__meta {
  color: var(--gray-1);
  font-size: 0.8888888889rem;
  margin-top: 1.25rem;
}
@media all and (min-width: 48em) {
  .post__meta__left, .post__meta__right {
    display: inline-block;
  }
}
@media all and (min-width: 31.25em) {
  .post__meta__left * + *::before, .post__meta__right * + *::before {
    content: "•";
    padding-right: 0.5rem;
  }
}
@media all and (min-width: 48em) {
  .post__meta__left + .post__meta__left::before, .post__meta__left + .post__meta__right::before, .post__meta__right + .post__meta__left::before, .post__meta__right + .post__meta__right::before {
    content: "•";
    padding-right: 0.5rem;
  }
}
.post__author {
  font-weight: var(--font-weight-bold);
  margin-right: 0.75rem;
}
.post__author > img {
  display: none;
}
@media all and (min-width: 48em) {
  .post__author > img {
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    margin-right: 0.25rem;
    width: 1.5rem;
  }
}
.post__date, .post__updated {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
.post__image--left {
  float: left;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__image--wide {
  display: block;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0 var(--page-margin);
  text-align: center;
}
.post__image--wide a,
.post__image--wide img {
  display: block;
  height: auto;
  margin: auto;
  max-width: var(--page-width);
  width: 100%;
}
.post__image--full {
  display: block;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0 var(--page-margin);
  text-align: center;
}
.post__image--full a,
.post__image--full img {
  display: block;
  height: auto;
  width: 100%;
}
.post__image figcaption a {
  color: var(--gray-2);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.post__image figcaption a:hover {
  color: var(--dark);
}
.post__image figcaption a:active {
  color: var(--dark);
}
.post__image figcaption a:focus {
  color: var(--dark);
  outline: none;
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: var(--embed-aspect-ratio);
}
.post__video iframe, .post__video video, .post__iframe iframe, .post__iframe video {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__entry > :nth-child(1) {
  margin-top: 0;
}
.post__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):hover {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.post__toc {
  border: 2px solid var(--light);
  border-radius: var(--border-radius);
  font-size: 0.8888888889rem;
  color: var(--color);
  margin-bottom: 2.25rem;
  padding: 2rem;
}
.post__toc h3 {
  color: var(--link-color);
  font-size: 1rem;
  margin: 0 0 0.75rem;
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0;
  padding: 0 0 0 1.25rem;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0 0 0 0.5rem;
}
.post__toc ul ul {
  margin-top: 0;
  padding: 0 0 0 0.5rem;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -1rem;
  margin-right: 0.25rem;
}
.post__tag-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post__tag {
  font-size: 0.8888888889rem;
}
.post__tag__title {
  font-size: inherit;
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
.post__tag__list {
  display: inline;
  margin: 0;
}
.post__tag__list li {
  color: var(--gray-1);
  display: inline-block;
  list-style: none;
  margin-right: 0.5rem;
  padding: 0;
}
.post__share {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 1rem;
  margin-left: -1rem;
  position: relative;
}
.post__share a {
  display: inline-block;
  margin: 0 0 0 1rem;
}
.post__share a:hover {
  text-decoration: none;
}
.post__share a svg {
  fill: var(--gray-2);
  height: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
  width: 1rem;
}
.post__footer {
  margin-top: calc(var(--magic-number) / 2);
}
.post__related {
  margin-top: var(--magic-number);
}
.post__related__title {
  font-size: 1rem;
  border-top: 1px solid var(--light);
  padding: 2rem 0 calc(2rem + 2vmin);
}

.banner--before-post {
  margin-bottom: var(--magic-number);
}
.banner--after-post {
  margin-top: var(--magic-number);
}

.page--author__avatar {
  -webkit-box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 5rem;
  margin: 0 0 1.5rem;
  width: 5rem;
}
@media all and (min-width: 37.5em) {
  .page--author__avatar {
    height: 6rem;
    width: 6rem;
  }
}
.page--author__details {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--light);
  font-size: 0.8888888889rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1.5rem;
  padding: 1rem 3rem 0;
}
@media all and (max-width: 37.4375em) {
  .page--author__details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0 0;
  }
}
.page--author__details span {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media all and (min-width: 37.5em) {
  .page--author__details span {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: 2rem;
  }
}
.page--author__details a {
  margin-left: 0.3rem;
}
.page--error__title {
  font-size: 6.583250172rem;
}
@media screen and (min-width: 20rem) {
  .page--error__title {
    font-size: calc(6.583250172rem + 8.4311510216 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  .page--error__title {
    font-size: 15.0144011936rem;
  }
}
.page--error__btn {
  margin-top: 1.75rem !important;
}
.page--search form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 37.4375em) {
  .page--search input {
    margin-bottom: 0.5rem;
  }
}
@media all and (min-width: 20em) {
  .page--search input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-right: 0.5rem;
  }
}
@media all and (max-width: 37.4375em) {
  .page--search button {
    width: 100%;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.msg {
  background-color: var(--lighter);
  border-left: 4px solid transparent;
  border-radius: var(--border-radius);
  font-size: 0.8888888889rem;
  padding: 1.5rem 2rem;
}
.msg--highlight {
  border-color: var(--yellow);
}
.msg--info {
  border-color: var(--blue);
}
.msg--success {
  border-color: var(--green);
}
.msg--warning {
  border-color: var(--red);
}

.dropcap:first-letter {
  float: left;
  font-family: var(--font-heading);
  font-size: 4.1098906729rem;
  line-height: 0.7;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.pec-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.pec-overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--light);
  font-size: 14px;
  display: none;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.4;
  padding: 1rem;
  position: relative;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .pec-overlay {
    font-size: 16px;
    line-height: var(--line-height);
    padding: 1rem 2rem;
  }
}
.pec-overlay.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pec-overlay-inner p {
  margin: 0 0 1rem;
}

.is-img-loading {
  overflow: hidden;
  position: relative;
}
.is-img-loading::after, .is-img-loading::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  top: -100%;
  left: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(var(--color-rgb), 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(var(--color-rgb), 0.15) 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: preloader 2s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite;
          animation: preloader 2s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite;
}
.is-img-loading::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  left: 80%;
}
@-webkit-keyframes preloader {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes preloader {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@media all and (min-width: 56.25em) {
  .lines::after, .lines::before {
    content: "";
    display: block;
    position: absolute;
    height: 50vh;
    width: 2px;
    top: -50%;
    left: 20vw;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(75%, rgba(var(--color-rgb), 0.15)), color-stop(0%, rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(var(--color-rgb), 0.15) 75%, rgba(0, 0, 0, 0) 0%);
    -webkit-animation: run var(--animated-lines-time) cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
            animation: run var(--animated-lines-time) cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite forwards;
    z-index: -1;
  }
}
.lines::before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 40vw;
}
@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}
@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}
.lines--right::after {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 60vw;
}
.lines--right::before {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 80vw;
}

.pagination {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8888888889rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(2rem + 2vmin);
}
.pagination a {
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  display: inline-block;
  color: var(--gray-1);
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.pagination a:hover {
  background-color: var(--lighter);
  color: var(--gray-1);
}
.pagination-active {
  background-color: var(--lighter);
  color: var(--color) !important;
  font-weight: var(--font-weight-bold);
  pointer-events: none;
}
.pagination-inactive {
  border: 2px solid transparent;
  color: var(--gray-2) !important;
  margin: 0 0.25rem;
  pointer-events: none;
  padding: 0.5rem 1rem;
  opacity: 0.6;
}
.pagination-first, .pagination-last {
  display: none;
}
@media all and (min-width: 56.25em) {
  .pagination-first, .pagination-last {
    display: block;
  }
}

.view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem auto 0;
}

.newsletter {
  background-color: var(--lighter);
  margin: var(--magic-number) 0;
  padding: calc(var(--magic-number) / 1.5) var(--page-margin);
}
.newsletter__title {
  margin-top: 0;
}
.newsletter__desc {
  color: var(--gray-1);
  font-size: 0.8888888889rem;
}
@media all and (min-width: 56.25em) {
  .newsletter__desc {
    max-width: 85%;
  }
}
.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 1.75rem;
}
@media all and (min-width: 37.5em) {
  .newsletter form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.newsletter input[type=text],
.newsletter input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media all and (max-width: 37.4375em) {
  .newsletter input[type=submit] {
    width: 100%;
  }
}

.footer {
  border-top: 1px solid var(--light);
  color: var(--gray-1);
  font-size: 0.7901234568rem;
  margin-top: var(--magic-number);
  margin-bottom: calc(var(--magic-number) / 2);
  padding-top: calc(var(--magic-number) / 3);
}
@media all and (max-width: 56.1875em) {
  .footer {
    padding-top: calc(var(--magic-number) / 2);
    text-align: center;
  }
}
@media all and (min-width: 56.25em) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer h3 {
  margin: 0 0 1.25rem;
}
.footer__copy {
  font-size: 0.7901234568rem;
}
.footer__nav {
  font-size: 0.8888888889rem;
  margin: 0 0 0.5rem;
}
@media all and (min-width: 56.25em) {
  .footer__nav {
    font-size: 0.7901234568rem;
    margin: 0;
  }
}
.footer__nav li {
  display: inline-block;
  margin: 0 0.4rem 0 0;
  padding: 0;
  position: relative;
}
.footer__nav li + li::before {
  content: "•";
  padding-right: 0.4rem;
}
@media all and (max-width: 56.1875em) {
  .footer__left + .footer__right {
    margin-top: 1rem;
  }
}
@media all and (min-width: 56.25em) {
  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: auto;
  }
}
.footer__social a {
  display: inline-block;
  padding: 0 0.75rem;
  vertical-align: middle;
}
@media all and (min-width: 56.25em) {
  .footer__social a {
    padding: 0 0 0 1.5rem;
  }
}
.footer__social a > svg {
  display: inline-block;
  fill: var(--gray-2);
  height: 0.875rem;
  pointer-events: none;
  -webkit-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 0.875rem;
}
.footer__social a:hover > svg {
  opacity: 1;
}
.footer__bttop {
  background: var(--color);
  border-color: var(--white) !important;
  bottom: 1.25rem;
  border-radius: 50%;
  line-height: 1;
  opacity: 0;
  padding: 0.45rem;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: auto !important;
  visibility: hidden;
  z-index: 999;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}
@media all and (min-width: 56.25em) {
  .footer__bttop {
    bottom: 2.5rem;
  }
}
.footer__bttop:hover {
  opacity: 1;
}
.footer__bttop > svg {
  fill: var(--white);
  height: 23px;
  margin: 0;
  width: 23px;
}
.footer__bttop.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery {
  margin: 2.25rem calc(var(--gallery-gap) * -1) 0.5rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--wide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 0 var(--page-margin);
  }
  .gallery-wrapper--wide .gallery {
    max-width: calc(var(--page-width) + var(--gallery-gap) * 2);
    width: calc(100% + var(--gallery-gap) * 2);
  }
}
.gallery-wrapper--full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0 var(--page-margin);
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 14.285%;
            flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5%;
            flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0;
  padding: var(--gallery-gap);
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.gallery__item a {
  background-color: var(--lighter);
  display: block;
  height: 100%;
  width: 100%;
}
.gallery__item a::after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: var(--gallery-gap);
  content: "";
  display: block;
  opacity: 0;
  left: var(--gallery-gap);
  height: calc(100% - var(--gallery-gap) * 2);
  position: absolute;
  right: var(--gallery-gap);
  top: var(--gallery-gap);
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: calc(100% - var(--gallery-gap) * 2);
}
.gallery__item a:hover::after {
  opacity: 1;
}
.gallery__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: white;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 1.2rem);
          transform: translate(-50%, 1.2rem);
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: var(--black);
}
.pswp--light .pswp__bg {
  background: var(--white);
}
.pswp--light .pswp__counter {
  color: var(--dark);
}
.pswp--light .pswp__caption__center {
  color: var(--text-color);
} 
         img[loading] {
               opacity: 0;
         }

         img.is-loaded {
               opacity: 1;
               transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1); 
         }